REMOTE_HOST=https://domain
REMOTE_BINARY=/path/to/file
REMOTE_SERVICE=systemd_service_name
WEB_CACHE_PATH=/patch/to/cache
DENO_APP_NAME=myapp
DENO_COMPILE_TARGET=aarch64-unknown-linux-gnu
DENO_ALLOW_READ=./db,/path/to/geoip
DENO_ALLOW_WRITE=./db