*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

th {
  text-align: initial;
}

td,
th {
  padding: 0.5em;
  border: 1px solid light-dark(lightgrey, dimgray);
}

label {
  display: block;
  margin-block-end: 0.3em;
}

button {
  &.danger {
    color: crimson;
  }
  &.loading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    &::before {
      display: inline-block;
      width: 0.9em;
      height: 0.9em;
      border: 2px solid color-mix(in srgb, ButtonText 20%, transparent);
      border-top-color: ButtonText;
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
      content: "";
    }
  }
}

dialog {
  > :first-child {
    margin-block-start: 0;
  }
  .actions {
    margin-block-start: 1em;
    &:has(> :not(:only-child)) {
      display: flex;
      justify-content: end;
      gap: 0.5em;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
